/.eslintrc.json desk.abhimanyu@gmail.com
/.github/* 41898282+github-actions[bot]@users.noreply.github.com
/.github/workflows/* desk.abhimanyu@gmail.com
/README.md abhi1693@users.noreply.github.com
/action.yml desk.abhimanyu@gmail.com
/package.json desk.abhimanyu@gmail.com
/src/* desk.abhimanyu@gmail.com
/tsconfig.json desk.abhimanyu@gmail.com
/yarn.lock desk.abhimanyu@gmail.com
